.cowinContainer {
  background-color: #161625;
  color: #fff;
  min-height: 100vh;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.failureContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.failureImg {
  width: 150px;
  height: 150px;
}
.logoContainer {
  display: flex;
  align-items: center;
}
.logoText {
  color: #2cc6c6;
  font-weight: 600;
}
.logo {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}
.appHeading {
  color: #cbd5e1;
  font-size: 28px;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
